# Default for all
* text=auto

# Markdown
*.md diff=markdown eol=crlf


# Code & Scripts
*.sh diff=sh eol=lf
*.java diff=java eol=lf


# Git attributes
.gitignore text eol=lf
.gitattributes text eol=lf

/.idea export-ignore
/.github export-ignore
/modules export-ignore

CHANGELOG.md export-ignore